[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    pyncette
    tests
omit =
    tests/utils/*
parallel = true

[report]
show_missing = true
precision = 2
exclude_lines =
    if TYPE_CHECKING:
    assert False
    pragma: no cover
omit = *migrations*
