graft docs
graft src
graft ci
graft tests
graft benchmark
graft examples
graft docker

exclude docker

include .readthedocs.yml
include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini .appveyor.yml

global-exclude *.py[cod] __pycache__/* *.so *.dylib .mypy_cache/** .vscode .vscode/** _build/** .dockerignore
